CheatSheets
DataSet
ML_Recordings
linear_regrassion.xlsx
Regression Modelling.xlsx
boxplot_outliers.png
Eda_insurance.ipynb
linearity_check.png
pairplot_overview.png
residual_plot.png
target_distribution.png
violin_plot.png
altair_scatter.html

